/*Aidan Scott*/
main {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "contact form";
    padding: 0;
    justify-items: center;
}
section {
    background-color: #D5D5D5;
    grid-area: contact;
    
}
section img {
    width: 20%;
    float: left;
    padding: 1rem 5%;
}
section h3 {
    clear: both;
    text-align: center;
    padding-top: 2rem;
    color: black;
}

aside {
    grid-area: form;
    width: 100%;
    padding: 0;
}
aside h1 {padding-left: 5%;}
aside h2 {
    padding-left: 5%;
    padding-bottom: 1rem;
}
aside form {padding-left: 5%;}

/*form styles*/
label{
	display: block;
	float: left;
	width: auto;
	text-align: right;
}
input[type=text], input[type=email]{
	float: right;
	margin-left: 2%;
    margin-right: 60%;
	width: 25%
}
#button{
    margin: 1rem 0 1.5rem 4%; 
}
