/*Aidan Scott*/
body{
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows:70px 40px 1fr 142px;
	grid-template-areas:
		"head head head head"
		"navi navi navi navi"
		"main main main asid"
		"foot foot foot foot";
}
header {grid-area: head;}
nav{grid-area: navi;}
main{
	grid-area: main;
	padding: 0%;
}
main div {
	padding: 0.25rem 5%;
}
main div.alternate {
	background-color: #c7b8d4;
}

aside{grid-area: asid;}
aside h1 {width: auto;}


footer{grid-area: foot;}

