/*Aidan Scott*/
body{
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows:70px 40px 1fr 142px;
	grid-template-areas:
		"head head head head"
		"navi navi navi navi"
		"main main main asid"
		"foot foot foot foot";
}
header {grid-area: head;}
nav{grid-area: navi;}
main{
	grid-area: main;
	padding-right: 5%;
}

aside{grid-area: asid;}
aside h1 {width: auto;}
label{
	display: block;
	float: left;
	width: auto;
	text-align: right;
}
input[type=text], input[type=email]{
	float: right;
	margin-left: 2%;
	margin-bottom: .5em;
	width: 65%
}
#button{
	margin-left: 7em;
	margin-bottom: 10px;
}

footer{grid-area: foot;}

